html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight:300;
	color:#555;
	line-height: 1.4em;
	background-color: #fff;
	background-image: url("../images/noise.png");
	background-repeat: repeat;
	text-align: center;
}
@media all and (min-width: 480px) {
	html {text-align: left;}
}

body {
	margin:0;
}

a {color:#006699;}

h1, h2, h3, h4, p, li {
	display: block;
	font-weight:300;
}

p, li {
	margin:0.75em 0;
}


// Headings ------------------

h1 {
	line-height: 1.15em;
}

h1, h2, h3, h4 {
	margin:0.75em 0 0.25em 0;
	line-height: 1.15em;
	clear:both;
}

h1 {font-size:2.5em;}
h2 {font-size:1.75em;}
h3 {font-size:1.35em;}
h4 {font-size:1.15em;}



// Lists ------------------

ul, ol, li, dl, dt, dd {
	margin:0;
	padding:0;
}

li {
	margin: 0.75em 0;
}

dl, dt, dd {
	text-align: left;
}

// microformats ------------------

.p-tel,
.p-fax,
.u-email {
	font-weight: 500;
}






// General ------------------


hr {
	margin: 1.25em 0;
	border:0;
	border-top:1px #ccc solid;
	padding:0;
	display:block;
	clear:both;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.65);
}



img, iframe {
	width:100%;
	max-width: 100%;
}



strong {
	font-weight: 500;
}


// Header ------------------




h1 {

	margin:0.25em 0 0 0;

	b {
		display:none;
	}

	img {
		width:85%;
		min-width: 275px;
		margin-right:4%;
	}
}

@media all and (min-width: 480px) {
	h1 {
		margin:0.75em 0 0.25em 0;
	}
}


// Legos ------------------

.small-caps {
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 0.15em;
}

.nobr, .nowrap {white-space: nowrap;}

.intro {
	font-size: 1.15em;
	line-height: 1.6em;
	font-style: italic;
}

hr.clear {
	margin:0;
	border:none;
}

hr.mobile {
	display:block; 
	padding-top: 1.75em;
	border:none;
	border-bottom:1px #ccc solid;

}

@media all and (min-width: 480px) {
	hr.mobile {
		display:none;
	}
}

.fade {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 25%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(25%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 25%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 25%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 25%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 25%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

// Interactions ------------------

.hide-me {
	display:none;
}

.show-me, .hide-me.show-me {
	display:block;
}


// Local ------------------

ul.contact-details {
	margin-top: 17px;
}

iframe.map {
	min-height: 320px;
	max-height: 640px;
}

	

