html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #555;
  line-height: 1.4em;
  background-color: #fff;
  background-image: url("../images/noise.png");
  background-repeat: repeat;
  text-align: center; }

@media all and (min-width: 480px) {
  html {
    text-align: left; } }
body {
  margin: 0; }

a {
  color: #006699; }

h1, h2, h3, h4, p, li {
  display: block;
  font-weight: 300; }

p, li {
  margin: 0.75em 0; }

h1 {
  line-height: 1.15em; }

h1, h2, h3, h4 {
  margin: 0.75em 0 0.25em 0;
  line-height: 1.15em;
  clear: both; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.35em; }

h4 {
  font-size: 1.15em; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

li {
  margin: 0.75em 0; }

dl, dt, dd {
  text-align: left; }

.p-tel,
.p-fax,
.u-email {
  font-weight: 500; }

hr {
  margin: 1.25em 0;
  border: 0;
  border-top: 1px #ccc solid;
  padding: 0;
  display: block;
  clear: both;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.65); }

img, iframe {
  width: 100%;
  max-width: 100%; }

iframe {
  min-height: 320px;
  max-height: 640px; }

strong {
  font-weight: 500; }

h1 {
  margin: 0.25em 0 0 0; }
  h1 b {
    display: none; }
  h1 img {
    width: 85%;
    min-width: 275px;
    margin-right: 4%; }

@media all and (min-width: 480px) {
  h1 {
    margin: 0.75em 0 0.25em 0; } }
.small-caps {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 0.15em; }

.nobr, .nowrap {
  white-space: nowrap; }

.intro {
  font-size: 1.15em;
  line-height: 1.6em;
  font-style: italic; }

hr.clear {
  margin: 0;
  border: none; }

hr.mobile {
  display: block;
  padding-top: 1.75em;
  border: none;
  border-bottom: 1px #ccc solid; }

@media all and (min-width: 480px) {
  hr.mobile {
    display: none; } }
.fade {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, white 25%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(25%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, white 25%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, white 25%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, white 25%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, white 25%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.hide-me {
  display: none; }

.show-me, .hide-me.show-me {
  display: block; }

ul.contact-details {
  margin-top: 17px; }

.row {
  max-width: 680px;
  clear: both;
  margin: 0 auto; }

@media all and (min-width: 480px) {
  .col.one,
  .col.two,
  .col.three,
  .col.four,
  .col.five,
  .col.six {
    margin: 0 0 0 3%;
    float: left; }

  .col:first-child {
    margin-left: 0; }

  .col.one {
    width: 14.166667%; }

  .col.two {
    width: 31.333333%; }

  .col.three {
    width: 48.5%; }

  .col.four {
    width: 65.666667%; }

  .col.five {
    width: 82.833333%; }

  .col.six {
    width: 100%; } }
.row.row__locked .col.one,
.row.row__locked .col.two,
.row.row__locked .col.three,
.row.row__locked .col.four,
.row.row__locked .col.five,
.row.row__locked .col.six {
  margin: 0 0 0 3%;
  float: left; }
.row.row__locked .col:first-child {
  margin-left: 0; }
.row.row__locked .col.one {
  width: 14.166667%; }
.row.row__locked .col.two {
  width: 31.333333%; }
.row.row__locked .col.three {
  width: 48.5%; }
.row.row__locked .col.four {
  width: 65.666667%; }
.row.row__locked .col.five {
  width: 82.833333%; }
.row.row__locked .col.six {
  width: 100%; }

.row.row__centred .col,
.row .col.col__centred {
  text-align: center; }

.row.row__centre-float {
  text-align: center; }
  .row.row__centre-float .col {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto; }

.row.row__reversed .col.one,
.row.row__reversed .col.two,
.row.row__reversed .col.three,
.row.row__reversed .col.four,
.row.row__reversed .col.five,
.row.row__reversed .col.six {
  margin: 0 3% 0 0;
  float: right; }
.row.row__reversed .col:first-child {
  margin-right: 0; }

.accordion dt {
  font-weight: 500;
  cursor: pointer;
  margin: 0.75em 0 0.25em 0; }
.accordion dd {
  margin-bottom: 1.25em; }
.accordion dt a b {
  display: inline-block;
  border: 2px solid #555;
  font-weight: 300;
  border-radius: 15px;
  margin-right: 0.5em;
  line-height: 23px;
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 21px; }

.show {
  font-weight: 500;
  cursor: pointer; }
  .show b {
    display: inline-block;
    border: 2px solid #555;
    font-weight: 300;
    border-radius: 15px;
    margin-right: 0.5em;
    line-height: 23px;
    height: 24px;
    width: 24px;
    text-align: center;
    font-size: 21px;
    background-color: #fff; }

.section {
  padding: 0.75em 5%; }

@media all and (min-width: 480px) {
  .section {
    padding: 1.25em 5%; } }
.section.section__pullout,
.section.section__footer {
  padding: 0.75em 5%; }
  .section.section__pullout h1, .section.section__pullout h2, .section.section__pullout h3, .section.section__pullout h4, .section.section__pullout p, .section.section__pullout li, .section.section__pullout dt, .section.section__pullout dd, .section.section__pullout a,
  .section.section__footer h1,
  .section.section__footer h2,
  .section.section__footer h3,
  .section.section__footer h4,
  .section.section__footer p,
  .section.section__footer li,
  .section.section__footer dt,
  .section.section__footer dd,
  .section.section__footer a {
    color: #fff; }
  .section.section__pullout dt a b,
  .section.section__footer dt a b {
    border: 2px solid #fff; }

.section.section__pullout {
  background-color: #006699; }

@media all and (min-width: 480px) {
  .section.section__pullout,
  .section.section__footer {
    padding: 1.75em 5%; } }
.section.section__footer {
  background-color: #444;
  padding: 0.25em 5%; }
  .section.section__footer h1, .section.section__footer h2, .section.section__footer h3, .section.section__footer h4, .section.section__footer p, .section.section__footer li, .section.section__footer dt, .section.section__footer dd, .section.section__footer a {
    color: #eee; }

.section.section__white {
  background-color: #fff; }
