.row {
	max-width:650px;
	clear: both;
	margin: 0 auto;
}


// 6 column grid

@media all and (min-width: 480px) {
	@import 'grid-cols';
}

.row.row__locked {
	@import 'grid-cols';
}


.row.row__centred .col,
.row .col.col__centred {
	text-align: center;
}

.row.row__centre-float {
	
	text-align:center;

	.col {
		float: none !important;
		display: inline-block;
		margin:0 auto;
	}
}


